.container {
	width: 13%;
	background: #ECECEC;
	border: 2px solid #ADAAAA;
	padding: 10px;
	margin: 10px;
}
@font-face {
	font-family: digital-7;
	src: url(fonts/digital-7.ttf);
}
button {
	width: 50px;
	height: 50px;
	margin: 2px;
	font: 30px digital-7
}

input[type=text] {
	width: 90%	;
	height: 30px;
	line-height: 30px;
	margin: 10px;
	font: 35px digital-7;
	text-align: right;
}

.digits {
	display: inline-block;
	width: 69%;
}

.operations {
	display: inline-block;
	width: 10%;
}

.operations button {
	height: 38px;
}